<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>个人信息维护</title>
    <link th:href="@{/css/user/my_info.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<img th:src="@{/img/header.jpg}" width="1536px" height="150px">
<div class="header">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " th:href="@{'to_main?userName='+${userName}}" style="color: #000">所有租房信息</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " th:href="@{'to_public?userName='+${userName}}" style="color: #000">发布信息</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{'to_my_info?userName='+${userName}}" style="color: #000">密码修改</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'to_my_public?userName='+${userName}}" style="color: #000">我的发布</a>
        </li>
    </ul>
</div>
<div class="main">

    <form action="change_password" method="post">
        <span th:text="${msg}" style="color: green"></span>
        <input type="hidden" name="userName" class="form-control" id="user" aria-describedby="emailHelp"  th:value="${userName}">
        <div class="form-group">
            <label for="exampleInputEmail1">新密码</label>
            <input type="password" name="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">确认密码</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="password" class="btn btn-primary">修改密码</button>
    </form>
</div>
</body>
</html>