<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的发布</title>
    <link th:href="@{/css/user/my_public.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<img th:src="@{/img/header.jpg}" width="1536px" height="150px">
<div class="header">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " th:href="@{'to_main?userName='+${userName}}" style="color: #000">所有租房信息</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " th:href="@{'to_public?userName='+${userName}}" style="color: #000">发布信息</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " th:href="@{'to_my_info?userName='+${userName}}" style="color: #000">密码修改</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{'to_my_public?userName='+${userName}}" style="color: #000">我的发布</a>
        </li>
    </ul>
</div>


<table class="table">
    <thead>
    <tr>
        <th scope="col">发布者</th>
        <th scope="col">联系方式</th>
        <th scope="col">房屋简介</th>
        <th scope="col">租金(元/月)</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data:${data}">
        <td th:text="${data.user}"></td>
        <td th:text="${data.phone}"></td>
        <td th:text="${data.title}"></td>
        <td th:text="${data.cost}"></td>
        <td><a th:href="@{'delete?id='+${data.id}+'&userName='+${userName}}">取消</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>